<div class="container" style="width: 500px;">
  <form [formGroup]="updateproductForm" (ngSubmit)="onSubmit(updateproductForm.value)"  class="border rounded-3">
    <div class="row g-0">
      <div class="col text-center p-2 mb-3 bg-light">
        <span class="fs-3">Add Product</span>
      </div>
    </div>
    <div class="row  p-2">
      <div class="col">
        <label for ="id" class="form-label">Id</label>
        <input type ="number" class="form-control" id="id"  formControlName="id">

      </div>
    </div>
    <div class="row  p-2">
      <div class="col">
        <label for ="name" class="form-label">Name</label>
        <input type ="text" class="form-control" id="name"  formControlName="name">

      </div>
    </div>

    <div class="row  p-2">
      <div class="col">
        <label for ="company" class="form-label">Comapany Name</label>
        <input type ="text" class="form-control" id="company" formControlName="company">

      </div>
    </div>
    <div class="row  p-2">
      <div class="col">
        <label for ="model" class="form-label">Model</label>
        <input type ="text" class="form-control" id="model" formControlName="model">

      </div>
    </div>

    <div class="row  p-2">
      <div class="col">
        <label for ="price" class="form-label"> Price</label>
        <input type ="number" class="form-control" id="price" formControlName="price">

      </div>
    </div>

    <div class="row mb-3">

      <div class="col-6 offset-3">
        <button type="submit" class="btn btn-primary m-3">Submit</button>
          <button type="reset" class="btn btn-secondary ml-2">Cancel</button>
      </div>


    </div>
  </form>
</div>



