<div class="container" style="width: 500px;">
  <form [formGroup]="updateproductForm" (ngSubmit)="onSubmit(updateproductForm.value)"  class="border rounded-3">
    <div class="row g-0">
      <div class="col text-center p-2 mb-2 bg-light">
        <span class="fs-3">Update Product</span>
      </div>
    </div>
    <div class="row  p-2">
      <div class="col">
        <label for ="id" class="form-label">Id</label>
        <input type ="number" class="form-control" id="id"  formControlName="id" autocomplete="off">
        <span *ngIf="!updateproductForm.controls['id'].valid && updateproductForm.controls['id'].touched " class="error-block">
          Please provide product Id
        </span>

      </div>
    </div>
    <div class="row  p-2">
      <div class="col">
        <label for ="name" class="form-label">Name</label>
        <input type ="text" class="form-control" id="name"  formControlName="name" autocomplete="off">
        <span *ngIf="!updateproductForm.controls['name'].valid && updateproductForm.controls['name'].touched " class="error-block">
          Please provide product name
        </span>

      </div>
    </div>

    <div class="row  p-2">
      <div class="col">
        <label for ="company" class="form-label">Comapany Name</label>
        <input type ="text" class="form-control" id="company" formControlName="company" autocomplete="off">
        <span *ngIf="!updateproductForm.controls['company'].valid && updateproductForm.controls['company'].touched " class="error-block">
          Please provide company name
        </span>

      </div>
    </div>
    <div class="row  p-2">
      <div class="col">
        <label for ="model" class="form-label">Model</label>
        <input type ="text" class="form-control" id="model" formControlName="model" autocomplete="off">
        <span *ngIf="!updateproductForm.controls['model'].valid && updateproductForm.controls['model'].touched " class="error-block">
          Please provide model
        </span>

      </div>
    </div>

    <div class="row  p-2">
      <div class="col">
        <label for ="price" class="form-label"> Price</label>
        <input type ="number" class="form-control" id="price" formControlName="price" autocomplete="off">
        <span *ngIf="!updateproductForm.controls['price'].valid && updateproductForm.controls['price'].touched " class="error-block">
          Please provide price
        </span>

      </div>
    </div>

    <div class="row mb-2">

      <div class="col-6 offset-3">
        <button type="submit" class="btn btn-primary m-3" [disabled]="!updateproductForm.valid">Submit</button>
          <button type="reset" class="btn btn-secondary ml-2">Cancel</button>
      </div>


    </div>
  </form>
</div>



